div {
  width: 100px;
  height: 100px;
}

.two,
.five,
.eight {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.four,
.five,
.six {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.title {
  text-align: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  height: 310px;
  width: 310px;
  margin: 0 auto;
}
