.app {
  background-color: #FDFFB5;
  font-family: 'Montserrat', sans-serif;
}

/* Modal */
.modal-container {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;
}

.modal-btn {
  background-color: transparent;
  border: none;
  opacity: .85;
}

.material-icons.md-14 {
  font-size: 28px;
}

.sm-12 {
  background-color: white;
}

.modal-about {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 auto;
  max-width: 400px;
  padding: .5rem;
  top: 60px;
  width: 85%;
}

.modal-cancel {
  background-color: white;
  border: none;
  float: right;
}

.material-icons.sm-12 {
  font-size: 20px;
}

.modal-title {
  background-color: white;
  color: royalblue;
  font-size: 1.2rem;
  margin: 0;
  padding: .5rem;
  text-decoration: underline;
}

.user-stories {
  background-color: white;
  font-style: italic;
  padding: .5rem 2rem .5rem 2.5rem;
}

.story:nth-of-type(2) {
  margin-top: 1rem;
}

.modal-text {
  background-color: white;
  margin: .5rem;
}

.copy {
  background-color: white;
  font-size: 1.1rem;
}

.white-link {
  background-color: white;
  color: royalblue;
  font-weight: 600;
  text-decoration: none;
}

.modal-about::backdrop {
  background: darkgray;
  opacity: .85;
}

/* Main Content */
.title {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin: 20px auto;
  padding: 5px;
  text-align: center;
  width: 12.5rem;
}

.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.choose-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 30px;
  width: 210px;
}

.choose-title {
  font-size: 22px;
  margin: 0 0 15px;
}

.choose-btn {
  background-color: #FF5A57;
  border: 0;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: .5rem .25rem;
  width: 4rem;
}

.choose-btn:nth-of-type(2) {
  background-color: #5FC8F7;
}

.board {
  align-content: center;
  justify-content: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  height: 280px;
  width: 280px;
}

.square {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  height: 32%;
  justify-content: center;
  text-align: center;
  width: 32%;
}

.two,
.five,
.eight {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.four,
.five,
.six {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.element {
  margin: 0;
  padding: 0;
}

.team-area {
  margin-top: 30px;
  width: 210px;
}

.teams {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}

.X {
  color: #FF5A57;
}

.O {
  color: #5FC8F7;
}

.hidden {
  display: none;
}

/* 2nd Modal */
.result {
  border-radius: 10px;
  top: 16%;
  width: 210px;
}

.result::backdrop {
  background: darkgray;
  opacity: 0.95;
}

.result-message {
  font-size: 1.2rem;
  text-align: center;
}

.reset {
  background-color: #BAD7F9;
  border: 1px solid black;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-top: 25px;
  padding: .5rem;
  width: 7rem;
}

.footer {
  bottom: 0;
  height: 30px;
  left: 0;
  margin-bottom: 20px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.freecodecamp {
  color: #007bff;
  text-decoration: none;
}