.title {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 5px;
  text-align: center;
  width: 12.5rem;
}
